# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# targets
_targets/
!_targets.R

# Large raw data files
# data/raw/**/*.csv
# data/raw/**/*.tif
# data/raw/**/*.asc
# data/raw/**/*.rds
# data/raw/**/*.fna.gz
# data/raw/**/*.gff.gz
# data/raw/**/*.faa.gz

# # Large processed data files
# data/processed/**/*.csv
# data/processed/**/*.tif
# data/processed/**/*.rds

# # Keep these specific files
# !data/processed/final/marine_occurrences.csv
# !data/raw/genomic/species_availability.csv
# !data/processed/genomic/retrieval_summary.csv

# Nix
result
result-*
*.backup

# System
.DS_Store
*.swp
*~
archive/*

# DuckDB
# *.duckdb* 
*.wal
*.tmp/

# Cleaning repo and testing just minimal setup
README_files
python
notebooks/
data/*
reportes/informe_tecnico.qmd
reportes/usos_cientificos.qmd
tests/*
todo.md
